body {
    background: linear-gradient(45deg, #fff, #e7e7e7);
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: 'Source Sans Pro', sans-serif;
}

.container {
    display: flex;
    gap: 30px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

label {
    color: #10233b;
    margin-bottom: 5px;
    font-weight: 600;
}

input[type="text"],
input[type="password"] {
    padding: 8px;
    border: 2px solid #10233b;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.2);
    color: #ff4336;
    font-weight: 600;
    margin-bottom: 10px;
}
input[type="text"]:hover,
input[type="password"]:hover {
    border-color: #ff4336;
}

input[type="submit"] {
    position: relative;
    padding: 10px 20px;
    background-color: #ffffff;
    color: #10233b;
    border: 2px solid #10233b;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.1s ease-in-out, border-color 0.1s ease-in-out;
    font-weight: 600;
}

input[type="submit"]:hover {
    border-color: #ffffff;
    color: #fff;
    background-color: #ff4336;
    border: 2px solid #ff4336;
    transform: translateY(-4px);
}
