body {
    background: linear-gradient(45deg, #10233b, #2f5b7e);
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: 'Source Sans Pro', sans-serif;
}

.container {
    display: flex;
    gap: 30px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

label {
    color: #ffffff;
    margin-bottom: 5px;
    font-weight: 600;
}

input[type="text"],
input[type="password"] {
    padding: 8px;
    border: 1px solid #fff;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
    margin-bottom: 10px;
}

.checkbox-group {
    display: block;
    position: relative;
    margin-bottom: 12px;
    padding-left: 30px;
    cursor: pointer;
    /*
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    */
}
.checkbox-group input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.checkmark{
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
    border-radius: 2px;
}
.checkbox-group:hover input ~ .checkmark{
    background-color: #ccc;
}
.checkbox-group input:checked ~ .checkmark {
    background-color: #fa0a54;
}
.checkbox-group .checkmark:after {
    content: "";
    position: absolute;
    display: none;
    left: 6px;
    top: 2.5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.checkbox-group input:checked ~ .checkmark:after {
    display: block;
}
input[type="checkbox"] {
    margin-right: 5px;
}

input[type="submit"] {
    padding: 10px 20px;
    background-color: #ffffff;
    color: #10233b;
    border: 2px solid transparent;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.1s ease-in-out, border-color 0.1s ease-in-out;
    font-weight: 600;
}

input[type="submit"]:hover {
    border-color: #ffffff;
    color: #fff;
    background-color: rgba(255, 255, 255, 0.4);
    transform: translateY(-3px);
}
