body {
    background-image: url("../img/Background.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: 'Source Sans Pro', sans-serif;
}

.container {
    display: flex;
    gap: 30px;
}

.button {
    position: relative;
    padding: 10px 20px;
    background-color: #ffffff;
    color: #10233b;
    border: 2px solid #10233b;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.1s ease-in-out, background-color 0.2s ease-in-out;
    font-weight: 600;
}

.button:hover {
    border-color: #ffffff;
    color: #fff;
    background-color: #ff4336;
    border: 2px solid #ff4336;
    transform: translateY(-4px);
}
.message{
    position: absolute;
    top: 150px;
    display: flex;
    align-self: center;
}
p{
    text-align: center;
    font-size: 25px;
    color: #ff4336;
    font-weight: 600;
}
